
﻿
<?php 

?>
<!doctype html>
<script runat="server">





    Public Sub OnEdit(sender As Object, e As EventArgs)

    End Sub


    Public Sub OnDelete(sender As Object, e As EventArgs)

    End Sub

    Public Sub ItemUpdated(sender As Object, e As EventArgs)


    End Sub

    Public Sub OnCancel(sender As Object, e As EventArgs)

    End Sub

    Public Sub SqlDataSource2_Selecting(sender As Object, e As SqlDataSourceSelectingEventArgs)

    End Sub




    Public Sub GridView(source As Object, e As EventArgs)


    End Sub


    Public Sub DetailsView(source As Object, e As EventArgs)


    End Sub




    Protected Sub Page_Load(sender As Object, e As EventArgs)




    End Sub




    Protected Sub DetailsView1_PageIndexChanging(sender As Object, e As DetailsViewPageEventArgs)

    End Sub

    Protected Sub GridView1_SelectedIndexChanged(sender As Object, e As EventArgs)

    End Sub

    Protected Sub DetailsView1_ItemUpdated(sender As Object, e As DetailsViewUpdatedEventArgs)


    End Sub

    Protected Sub GridView1_DataBound(sender As Object, e As EventArgs)

    End Sub

    Protected Sub GridView1_RowDataBound(sender As Object, e As GridViewRowEventArgs)

    End Sub
</script>

<html class="no-js" lang="en">
<head>
<meta charFoundation | Welcome</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
<link href='https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css' rel='stylesheet' type='text/css'>

</head>
<body>




   

    <form id="form1" runat="server">




   

<div class="top-bar">
<div class="top-bar-left">
    <ul class="menu" style="font-family:'MS PGothic'; font-size:40px; color:darkgreen">
<li>OPTICRON</li>
</ul>
<ul class="menu">

<li><a href="#">Our Products</a></li>
<li><a href="#">Where to Buy</a></li>
<li><a href="#">News and Reviews</a></li>
<li><a href="#">Help and Support</a></li>
<li><a href="#">My Options</a></li>
</ul>
</div>
<div class="top-bar-right">
<ul class="menu">
<li><input type="search" placeholder="Search"></li>
<li><button type="button" class="button">Search</button></li>
</ul>
</div>
</div>
<div  data-orbit>
<ul class="orbit-container">
<button class="orbit-previous" aria-label="previous"><span class="show-for-sr">Previous Slide</span>&#9664;</button>
<button class="orbit-next" aria-label="next"><span class="show-for-sr">Next Slide</span>&#9654;</button>
<li class="orbit-slide is-active" style="margin:0 auto; height:600px;" >
<img src="http://briansheridanphotography.ie/wp-content/uploads/2016/10/straw-field-col.jpg">
</li>
<li class="orbit-slide">
<img src="http://briansheridanphotography.ie/wp-content/uploads/2016/10/straw-field-col.jpg">
</li>
<li class="orbit-slide">
<img src="http://briansheridanphotography.ie/wp-content/uploads/2016/10/straw-field-col.jpg">
</li>
<li class="orbit-slide">
<img src="http://briansheridanphotography.ie/wp-content/uploads/2016/10/straw-field-col.jpg">
</li>
</ul>
</div>
<div class="row column text-center">

            <hr>
        </div>
        <div class="row small-up-1  medium-up-2 large-up-4">
            <div class="column">
                <h5>New Products</h5>
                <img class="thumbnail" src="https://images.unsplash.com/photo-1531884070720-875c7622d4c6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" style="width: 300px; height: 350px;">
                <p>fddfvdfbvb odfhiogvoigjreo fbfjggjpohgpoh rgioeajgiogjoigj oergoijgejgpergpoerg oiergegrijergperjg</p>

                <a href="#" class="button expanded">New Products</a>
            </div>
            <div class="column">
                <h5>Field Events</h5>
                <img class="thumbnail" src="https://cdn0.wideopenpets.com/wp-content/uploads/2016/05/bigstock-Brown-horse-98584214-770x405.jpg" style="width: 300px; height: 350px;">
                <p>fddfvdfbvb odfhiogvoigjreo fbfjggjpohgpoh rgioeajgiogjoigj oergoijgejgpergpoerg oiergegrijergperjg</p>

                <a href="#" class="button expanded">View Events</a>
            </div>
            <div class="column">
                <h5>Latest News</h5>
                <img class="thumbnail" src="https://s24890.pcdn.co/wp-content/uploads/2017/08/Slovenia-Lake-Bled-Photo-Locations-22.jpg" style="width: 300px; height: 350px;">
                <p>fddfvdfbvb odfhiogvoigjreo fbfjggjpohgpoh rgioeajgiogjoigj oergoijgejgpergpoerg oiergegrijergperjg</p>
                <a href="#" class="button expanded">Read Article</a>
            </div>
            <div class="column">
                <h5>Gallery</h5>
                <img class="thumbnail" src="http://voice.gardenbird.co.uk/wp-content/uploads/2017/01/House-sparrow-in-water.jpg" style="width: 300px; height: 350px;">
                <p>fddfvdfbvb odfhiogvoigjreo fbfjggjpohgpoh rgioeajgiogjoigj oergoijgejgpergpoerg oiergegrijergperjg</p>

                <a href="#" class="button expanded">View Gallery</a>
            </div>
        </div>
<hr>

<hr>

<div class="row small-up-1 medium-up-1 large-up-3" style="background-color:aliceblue" >
  
    <h1 style="text-align:center;"> Special Offers</h1>
          

<div class="column" >

<p></p>
<p><img src="https://www.investopedia.com/thmb/kTrOrIFWA1Is4UL7T615MPImF78=/1280x853/filters:fill(auto,1)/pound-414418_1280-5bfc36cc46e0fb0051476fa6.jpg" style="height:250px;width:350px"></p>
<p class="lead">DISCOVERY WP PC</p>
<p class="subheader">£20 Cashback</p>
</div>

<div class="column">

<p></p>
<p><img src="https://images.pexels.com/photos/122400/pexels-photo-122400.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" /></p>
    <p class="lead">HR ED Fieldscopes</p>
<p class="subheader">Free Digiscoping Kit</p>
</div>

<div class="column">

<p></p>
<p><img src="https://www.birdguides-cdn.com/cdn/categories/digiscoping.jpg"style="height:250px;width:350px" /></p>
        <p class="lead">IS 60 WP Fieldscope Kits</p>
<p class="subheader">Save 25%</p>
</div>


</div>
<div class="row small-up-1 medium-up-1 large-up-3" style="width:280px; margin-top:2em">
    <a href="#" class="button expanded" >View All Offers</a>
</div>



















<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
<script>
      $(document).foundation();
    </script>
        
        <h1 style="text-align:center;"> Product Categories</h1>
            <asp:GridView ID="GridView1" EnableViewState="false" runat="server" AutoGenerateColumns="False" DataKeyNames="Id" DataSourceID="SqlDataSource1" HorizontalAlign="Center"  EnableModeValidation ="True" OnSelectedIndexChanged="GridView1_SelectedIndexChanged" OnDataBound="GridView1_DataBound" OnRowDataBound="GridView1_RowDataBound"  >
                <Columns >
                    <asp:CommandField ShowSelectButton="True" />
                   
                    <asp:ImageField DataImageUrlField="one" ItemStyle-Width="250px"  ></asp:ImageField>
                    <asp:ImageField DataImageUrlField="two" ItemStyle-Width="250px" ></asp:ImageField>

                   <asp:ImageField DataImageUrlField="three" ItemStyle-Width="250px" ></asp:ImageField>
                    <asp:ImageField DataImageUrlField="four" ItemStyle-Width="250px" ></asp:ImageField>
                    
                </Columns>
            </asp:GridView>
            <asp:DetailsView ID="DetailsView1"  runat="server" AutoGenerateRows="False" DataKeyNames="Id" DataSourceID="SqlDataSource2" Height="50px" Width="300px" OnPageIndexChanging="DetailsView1_PageIndexChanging" OnItemUpdated="DetailsView1_ItemUpdated" >
                <Fields>
                    
                    
                    <asp:BoundField DataField="one" HeaderText="one" SortExpression="one" ApplyFormatInEditMode="True" />
                    <asp:BoundField DataField="two" HeaderText="two" SortExpression="two" ApplyFormatInEditMode="True" />
                    <asp:BoundField DataField="three" HeaderText="three" SortExpression="three" ApplyFormatInEditMode="True" />
                    <asp:BoundField DataField="four" HeaderText="four" SortExpression="four" ApplyFormatInEditMode="True" />
                    <asp:CommandField ShowEditButton="True" />
                </Fields>
            </asp:DetailsView>
            <asp:SqlDataSource ID="SqlDataSource1" runat="server" ConnectionString="<%$ ConnectionStrings:test3conn %>" SelectCommand="SELECT [Id], [one], [two], [three], [four] FROM [Table]" ></asp:SqlDataSource>
                          
            <asp:SqlDataSource ID="SqlDataSource2" runat="server" ConnectionString="<%$ ConnectionStrings:test3conn %>" DeleteCommand="DELETE FROM [Table] WHERE [Id] = @Id" InsertCommand="INSERT INTO [Table] ([Id], [one], [two], [three], [four]) VALUES (@Id, @one, @two, @three, @four)" SelectCommand="SELECT [Id], [one], [two], [three], [four] FROM [Table] WHERE ([Id] = @Id)" UpdateCommand="UPDATE [Table] SET [one] = @one, [two] = @two, [three] = @three, [four] = @four WHERE [Id] = @Id" >
                <DeleteParameters>
                    <asp:Parameter Name="Id" Type="String" />
                </DeleteParameters>
                <InsertParameters>
                    <asp:Parameter Name="Id" Type="String" />
                    <asp:Parameter Name="one" Type="String" />
                    <asp:Parameter Name="two" Type="String" />
                    <asp:Parameter Name="three" Type="String" />
                    <asp:Parameter Name="four" Type="String" />
                </InsertParameters>
                <SelectParameters>
                    <asp:ControlParameter ControlID="GridView1" Name="Id" PropertyName="SelectedValue" Type="String" />
                </SelectParameters>

                <UpdateParameters>
                    
                     <asp:Parameter Name="Id" Type="String" />
                    <asp:Parameter Name="one" Type="String" />
                    <asp:Parameter Name="two" Type="String" />
                    <asp:Parameter Name="three" Type="String" />
                    <asp:Parameter Name="four" Type="String" />
                   
                </UpdateParameters>

            </asp:SqlDataSource>
        <p>
            &nbsp;</p>
        <p>
            &nbsp;</p>
    </form>
    
</body>



</html>
<div class="row column text-center" style="padding:100px; background-color:darkgray">
<div class="row small-up-1  medium-up-1 large-up-2" >
    <div class="column"> Optricon Unit 21, Titan Court, Laporte Way, Luton LU4 8EF
<br />
        <br />
    


        Site Map / Terms / Privacy Policy / Site By Verto
    </div>
    <div class="column">
        <p>
            Call <Strong>01582 726522</Strong>
        </p>
        <p>
            Email us <i>sales@opticron.co.uk</i>
        </p>
          <a href="#" class="facebook"><i class="fa fa-facebook"></i></a> 
  <a href="#" class="twitter"><i class="fa fa-twitter"></i></a> 
  <a href="#" class="google"><i class="fa fa-google"></i></a> 
  <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
  <a href="#" class="youtube"><i class="fa fa-youtube"></i></a> 
    </div>
    
</div>
</div>